.team{
    padding: 0 9.375% 0 9.375%;
}
.team-flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.team-flex-container > div{
    width: 32%;
    
}
.team-flex-container > div > .image-container{
    width: 100%;
    max-height: 430px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0;
}

#person1{
    width: 64%;
    object-fit: cover;
}
#person2{
    width:80%;
    object-fit: cover;
}
#person3{
    width: 88%;
    object-fit: cover;
}

.member-card h3{
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Inter',sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem
}
.member-card p{
    font-weight: 400;
    margin-bottom: 1rem;
}
.member-card-socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 28%;
}
.member-card-socials img{
    width: 24px;
    height: 24px;
}
.radio-buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 45% 0 45%;
}
.radio-button{
    width: 12px;
    height: 12px;
    background-color: #d7d7d7;
    border-radius: 50%;
}
#selected{
    background-color: #DB4444;
    border: solid 2px #d7d7d7;
    box-sizing: content-box;
}